.jomolhari {
    font-family: "Jomolhari", serif ;
    font-weight: 300;
    font-size: x-large;
    font-style: normal;
  }
  .albert-sans{
    font-family: "Albert Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .ibm-plex {
    font-family: "IBM Plex Mono", serif;
    font-weight: 300;
    font-style: normal;
  }
